[user]
	email = nantawat@opsta.co.th
	name = nantawat chairat
[init]
	defaultBranch = main
[credential]
	helper = "!f() { /home/app/.vscode-server/bin/89de5a8d4d6205e5b11647eb6a74844ca23d2573/node /tmp/vscode-remote-containers-7de13d86-cfae-45f3-a149-d2856f0f4c01.js git-credential-helper $*; }; f"
