[user]
	email = nantawat@opsta.co.th
	name = nantawat chairat
[init]
	defaultBranch = main
[credential]
	helper = "!f() { /home/app/.vscode-server/bin/89de5a8d4d6205e5b11647eb6a74844ca23d2573/node /tmp/vscode-remote-containers-c593ce69-b7ef-42f4-9138-6b362e13d383.js git-credential-helper $*; }; f"
